﻿@{
    ViewBag.Title = "Customer Orders";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

<div ng-app="app" ng-controller="customerCtrl">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Total Orders</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in model">
                    <td>{{customer.CustomerId}}</td>
                    <td>{{customer.FirstName}}</td>
                    <td>{{customer.LastName}}</td>
                    <td>{{customer.Orders.length}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#order{{customer.CustomerId}}">Order Details</button>

                        <div class="modal fade" id="order{{customer.CustomerId}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Order Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <b>Customer ID:</b> {{customer.CustomerId}}<br/>
                                        <b>Customer Name:</b> {{customer.FirstName + ' ' + customer.LastName}}
                                        
                                        <div ng-repeat="order in customer.Orders">
                                            <br /><hr/><br />
                                            <b>Order ID:</b> {{order.OrderId}}<br />
                                            <b>Item:</b> {{order.OrderItem}}<br />
                                            <b>Quantity:</b> {{order.Qty}}<br />
                                            <b>Price:</b> {{order.Price | currency : symbol : fractionSize}}<br />
                                            <b>Order Date:</b> {{order.OrderDate | date:'MMM d, y h:mm a'}}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr ng-if="model.Customers.length == 0">
                    <td colspan="5" class="text-center">There are no customers to display.</td>
                </tr>
            </tbody>
        </table>

        <a href="#" onclick="toggler('myContent');">View Raw JSON Data</a><br />
        <div id="myContent" style="display:none; margin:15px 0;">
            <div>{{model | json}}</div>
        </div> 

        <script>
            function toggler(divId) {
                $("#" + divId).toggle();
            }
        </script>
    </div>
</div>